<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myshop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyShop">
        <activity android:name=".CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar"></activity>
        <activity
            android:name=".AddresslistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".CartlistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".AddproductActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyShop.NoActionBar" />
    </application>

</manifest>